
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <!-- <li><a href="#">Home</a></li> -->
                <!-- <li><a href="#">About</a></li>             -->
                <li><a href="" routerLink="">Home</a></li>
                <li><a href="" routerLink="register">Register</a></li>
                <li><a href="/contactus">Contact</a></li>
                
                <li><button (click)="logout()" style="color: aqua; background-color: black;" >Logout</button> </li>
            </ul>
            <i class='fas fa-baseball-ball' style='font-size:36px'></i>
            <h1 class="logo">PLAYOFF</h1>
        </div>
    </nav>




    <div class="container">
        <div class="card">
          <div class="card__header">
            <img src="https://i.postimg.cc/MGv5KYDn/original-imagg3a9cty8xjkd.webp" alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body">
            <span class="tag tag-blue">VECTOR X </span>
            <h4>Nxg Football Shoes For Men  (Green, Blue)</h4>
          </div>
          <div class="card__footer">
            <div class="user">
              <span class="tag">₹615</span>
            </div>
          </div>
        </div>



        <div class="card">
          <div class="card__header">
            <img src="https://i.postimg.cc/fTrmfq05/1-6-kookaburra-kahuna-full-size-poplar-willow-cricket-bat-1106-original-imaft3r7hqbmhj46.webp" alt="card__image" class="card__image" width="600">
          </div><br><br>
          <div class="card__body">
            <span class="tag tag-brown"> KOOKABURRA</span>
            <h4>ironspots KOOKABURRA Kahuna Full Size ( Poplar Willow) Cricket Bat Poplar Willow Cricket Bat  (1 kg)</h4>
          </div>
          <div class="card__footer">
            <div class="user">
              <div class="user__info">
                <span class="tag">₹419</span>
              </div>
            </div>
          </div>
        </div>



        
        <div class="card">
          <div class="card__header">
            <img src="https://i.postimg.cc/GtJQ7FGz/original-imaghuntengkhrd4.webp" alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body">
            <span class="tag tag-red">PUMA</span>
            <h4>PUMA 22 FH Rubber VK Cricket Shoes For Men  (Blue)</h4>
          </div>
          <div class="card__footer">
            <div class="user">
              <div class="user__info">
                <span class="tag">₹6499</span>

              </div>
            </div>
          </div>
        </div>
      </div>











      <div class="container">
        <div class="card">
          <div class="card__header">
            <img src="https://i.postimg.cc/yd0s1Cxf/10-11-years-f15-ind06h33-kids-msv-original-imaggzetwf7knpnv.webp" alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body"><br><br><br>
            <span class="tag tag-blue">TEKY </span>
            <h4>Boys & Girls Typography Polyester T Shirt  (Multicolor, Pack of 1)</h4>
          </div>
          <div class="card__footer">
            <div class="user">
              <span class="tag">₹289</span>
            </div>
          </div>
        </div>



        <div class="card">
          <div class="card__header">
            <img src="https://i.postimg.cc/rw7CCVPf/10-11-years-k1-por-away-wh-bp-2022-uniq-original-imagkh4dqfmg69ye.webp" alt="card__image" class="card__image" width="600">
          </div><br><br>
          <div class="card__body">
            <span class="tag tag-brown">UNIQ</span>
            <h4>Boys Colorblock Polyester T Shirt  (Multicolor, Pack of 1)</h4>
          </div>
          <div class="card__footer">
            <div class="user">
              <div class="user__info">
                <span class="tag">₹339</span>
              </div>
            </div>
          </div>
        </div>



        
        <div class="card">
          <div class="card__header">
            <img src="https://i.postimg.cc/hPWMQWjL/football-training-kit-kit2-nivia-original-imaf42fyevkzq8hz.webp" alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body"><br><br><br>
            <span class="tag tag-red">NIVIA</span>
            <h4>NIVIA Storm Football - Size: 5  (Pack of 1, Multicolor)</h4>
          </div>
          <div class="card__footer">
            <div class="user">
              <div class="user__info">
                <span class="tag">₹419</span>

              </div>
            </div>
          </div>
        </div>
      </div>



<!-- -------------------------------------------------------------------------------- -->
   



      <div class="container">
        <div class="card">
          <div class="card__header">
            <img src="https://i.postimg.cc/nhyn6GGY/original-imagg5e3bp8sgr9a.webp" alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body"><br>
            <span class="tag tag-blue"> NIVIA </span>
            <h4>NIVIA Goalkeeper Goalkeeping Gloves  (Orange, Black)</h4>
          </div>
          <div class="card__footer">
            <div class="user">
              <span class="tag">₹459</span>
            </div>
          </div>
        </div>



        <div class="card">
          <div class="card__header">
            <img src="https://i.postimg.cc/GhJcZySZ/2-3-years-vg1psg2022neymar-rjm-original-imagg6kkzafu6ges.webp" alt="card__image" class="card__image" width="600">
          </div><br><br>
          <div class="card__body">
            <span class="tag tag-brown"> TEKY</span>
            <h4>Boys & Girls Typography Polyester T Shirt  (Blue, Pack of 1)</h4>
          </div>
          <div class="card__footer">
            <div class="user">
              <div class="user__info">
                <span class="tag">₹299</span>
              </div>
            </div>
          </div>
        </div>



        
        <div class="card">
          <div class="card__header">
            <img src="https://i.postimg.cc/BbmmKNnr/heavy-duty-wooden-cricket-stump-set-6-of-pack-dabodiya-original-imagegdzkhyccen6.webp" alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body"><br><br>
            <span class="tag tag-red">CRICKET STUMP</span>
            <h4>Dabodiya Heavy duty wooden cricket stump set 6 of pack with bails  (White)</h4>
          </div>
          <div class="card__footer">
            <div class="user">
              <div class="user__info">
                <span class="tag">₹6423</span>

              </div>
            </div>
          </div>
        </div>
      </div>


<!-- ----------------------------------------------------------------------------------------------------------------- -->

<div class="container">
    <div class="card">
      <div class="card__header">
        <img src="https://i.postimg.cc/j5DxmqDm/g4-3-25-inches-gr-201-strung-2-gr-201-90-badminton-racquet-yonex-original-imagbkfxcbhhx3cm.webp" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body"><br>
        <span class="tag tag-blue"> YONEX </span>
        <h4>YONEX GR 201 Blue Strung Badminton Racquet  (Pack of: 2, 90 g)</h4>
      </div>
      <div class="card__footer">
        <div class="user">
          <span class="tag">₹879</span>
        </div>
      </div>
    </div>



    <div class="card">
      <div class="card__header">
        <img src="https://i.postimg.cc/d08mdvQM/350-plastic-badminton-shuttle-pack-of-5-for-indoor-outdoor-original-image694q8v8det4.webp" alt="card__image" class="card__image" width="600">
      </div><br><br>
      <div class="card__body"><br><br>
        <span class="tag tag-brown"> NONGI</span>
        <h4>Nongi 350 Plastic Badminton Shuttle Pack Of 5 For Indoor Outdoor Badminton Sports Plastic Shuttle - Yellow  (Medium, 77, Pack of 5)</h4>
      </div>
      <div class="card__footer">
        <div class="user">
          <div class="user__info">
            <span class="tag">₹109</span>
          </div>
        </div>
      </div>
    </div>



    
    <div class="card">
      <div class="card__header">
        <img src="https://i.postimg.cc/6p9NFVqF/400-junior-cricket-bat-size-3-for-age-group-8-years-3-junior-3-original-imag7xfpjbdshg57.webp" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body"><br><br><br>
        <span class="tag tag-red">LYCAN</span>
        <h4>LYCAN Junior Cricket Bat Size 3 For Age Group 8 Years PVC/Plastic Cricket Bat  (400 g)</h4>
      </div>
      <div class="card__footer">
        <div class="user">
          <div class="user__info">
            <span class="tag">₹259</span>

          </div>
        </div>
      </div>
    </div>
  </div>








    <!-- ============================================================= -->
</body>
</html>